<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dinas Pemberdayaan Perempuan dan Perlindungan Anak</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/jcarousel.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/dropdown.css" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">

	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand" href="index.html"><img src="img/logo.jpg" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li> 
						<li class="active">
							<a href="#">Profil</a>
							<ul class="dropdown">
								<li><a href="sambutan.html">Sambutan Kepala Dinas</a></li>
								<li><a href="struktur.html">Struktur Organisasi</a></li>
								<li><a href="sekretariat.html">Sekretariat</a></li>
								<li><a href="bidang_pemberdayaan_perempuan.html">Bidang Pemberdayaan Perempuan dan Pengarusutamaan Gender</a></li>
								<li><a href="bidang_pemenuhan.html">Bidang Pemenuhan Hak Anak</a></li>
								<li><a href="bidang_perlindungan_perempuan.html">Bidang Perlindungan Perempuan dan Anak</a></li>
								<li><a href="bidang_pemberdayaan_manusia.html">Bidang Pemberdayaan Masyarakat dan Data Informasi </a></li>
							</ul>
						</li> 
						<li><a href="https://dp3a.semarangkota.go.id/ppid">PPID</a></li>
                        <li>
							<a href="#">Layanan Publik</a>
							<ul class="dropdown">
								<li><a href="#">Seruni</a></li>
								<li><a href="form_pengaduan.html">Form Pengaduan</a></li>
								<li><a href="sop.html">Standar Operasional Prosedur</a></li>
							</ul>
						</li>
                        <li>
							<a href="#">Publikasi</a>
							<ul class="dropdown">
								<li><a href="#">Berita</a></li>
								<li><a href="#">Artikel</a></li>
								<li><a href="ebook.html">Ebook</a></li>
								<li><a href="galeri.html">Galeri</a></li>
								<li><a href="#">Glosary</a></li>
								<li><a href="dok_perencanaan.html">Dokumen Perencanaan</a></li>
							</ul>
						</li>
                        <li>
							<a href="#">Links</a>
							<ul class="dropdown">
								<li><a href="https://ppt-dp3a.semarangkota.go.id/">PPT</a></li>
								<li><a href="https://gebersepti.semarangkota.go.id/">GEBER SEPTI</a></li>
								<li><a href="https://valaz.dp3a.semarangkota.go.id/login">KLA</a></li>
								<li><a href="https://siga.dp3akb.jatengprov.go.id/app/">SIGA</a></li>
								<li><a href="https://mentaskla.dp3a.semarangkota.go.id/">MENTAS</a></li>
								<li><a href="https://sipuspaga.dp3a.semarangkota.go.id/">PUSPAGA</a></li>
								<li><a href="https://permas.dp3a.semarangkota.go.id/">PERMAS</a></li>
								<li><a href="https://sintal.semarangkota.go.id/">SINTAL</a></li>
								<li><a href="https://sidamas.dp3a.semarangkota.go.id/">SI DAMAS</a></li>
							</ul>
						</li>
                    </ul>
                </div>
            </div>
        </div>
	</header><!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Bidang Pemenuhan Hak Anak</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
					<div class="about">
					
						<div class="row"> 
							<div style="margin-top: 30px;">
								<p>Bidang Pemenuhan Hak Anak mempunyai fungsi:</p>
								<ol>
									<li>Perencanaan program, kegiatan dan anggaran;</li>
									<li>Pendistribusian tugas kepada bawahan;</li>
									<li>Pemberian petunjuk kepada bawahan;</li>
									<li>Penyeliaan tugas bawahan dalam lingkup tanggung jawabnya;</li>
									<li>Pelaksanaan kegiatan penyusunan Sasaran Kinerja Pegawai;</li>
									<li>Pelaksanaan koordinasi dengan perangkat daerah lainnya dan instansi terkait; </li>
									<li>Pelaksanaan kegiatan penyusunan kebijakan di Bidang  Pemenuhan  Hak Anak; </li>
									<li>Pelaksanaan kegiatan Seksi Hak Sipil, Informasi dan Partisipasi, Seksi Pengasuhan dan Lingkungan dan Seksi Pendidikan dan Kesehatan; </li>
									<li>Pelaksanaan kegiatan penyusunan data dan informasi di Bidang Pemenuhan Hak Anak; </li>
									<li>Pelaksanaan kegiatan pengelolaan  dan  pertanggungjawaban  keuangan  di Bidang Pemenuhan Hak Anak; </li>
									<li>Pelaksanaan penilaian kinerja  pegawai di lingkungan Bidang Pemenuhan Hak Anak; </li>
									<li>Pelaksanaan monitoring dan evaluasi program dan kegiatan; </li>
									<li>Pelaksanaan penyusunan laporan program dan kegiatan; dan</li>
									<li>Pelaksanaan tugas kedinasan lain yang diberikan oleh pimpinan sesuai tugas dan fungsinya.</li>
								</ol>
							</div>
						</div>  
						<br>
	</section>
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Our Contact</h5>
					<address>
					<strong>Abovecompany Inc</strong><br>
					JC Main Road, Near Silnile tower<br>
					 Pin-21542 NewYork US.</address>
					<p>
						<i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
						<i class="icon-envelope-alt"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a href="#">Latest Events</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
					<div class="widget">
					<h5 class="widgetheading">Recent News</h5>
					<ul class="link-list">
						<li><a href="https://dp3a.semarangkota.go.id/blog/post/deklarasi-satgas-ppks-undip-bentuk-komitmen-menciptakan-ruang-aman-dari-kekerasan-seksual" target="_blank">Deklarasi Satgas PPKS UNDIP Bentuk Komitmen Menciptakan Ruang Aman dari Kekerasan Seksual</a></li>
						<li><a href="https://dp3a.semarangkota.go.id/blog/post/pudakpayung-banyumanik-masuk-4-besar-dalam-lomba-kelurahan-tingkat-provinsi-jawa-tengah-tahun-2024" target="_blank">Pudakpayung Banyumanik masuk 4 besar dalam Lomba Kelurahan Tingkat Provinsi Jawa Tengah Tahun 2024</a></li>
						<li><a href="https://dp3a.semarangkota.go.id/blog/post/jauhi-narkoba-selamatkan-generasi-penerus-bangsa" target="_blank">Jauhi Narkoba Selamatkan Generasi Penerus Bangsa</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Above Site All right reserved. Template By </span><a href="http://webthemez.com" target="_blank">WebThemez</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script> 
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>